@using Netlify.SharedResources
@using Netlify.Components.Account.Shared

@inject SharedLocalizer Localizer

<div class="row-child col-12 col-sm-6 col-lg-4">
    <div class="card mb-3">
        <StatusMessage Message="@Message" />
        @if (Hero is not null)
        {
            <img src="@Hero.Image" alt="@Hero.RealName image" class="card-img-top" height="207" width="414" />
            <div class="card-body">
                <p class="card-text card__hero-alter-ego">@Hero.AlterEgo</p>
                <small class="card-text card__hero-real-name">@Hero.RealName</small>
            </div>
            <div class="card-footer d-flex justify-content-between">
                @Hero.UsersVoted?.Count() votes
                <button @onclick="() => VoteForHero()" class="dashboard__action-button p-0">
                    <i class="icon fa-solid fa-heart"></i>
                </button>
            </div>


            @* <li>

        @Hero?.RealName
        @HeroAsString
        <button @onclick="() => VoteForHero()">Vote</button>
        <FluentButton Type="ButtonType.Submit" Loading="@_waitingTime" Appearance="Appearance.Accent" Style="width: 100%; margin-bottom: 10px;">@Localizer["Change password"]</FluentButton>
        </li> *@
        }
        else
        {
            <p>Loading...</p>
        }
    </div>
</div>
