@using Microsoft.AspNetCore.Identity
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular
@using Netlify.ApiClient.Auth
@using Netlify.SharedResources
@using Netlify.Components.Account.Shared
@inject SharedLocalizer Localizer

<FluentGrid>
    <FluentGridItem xs="4" sm="4">
        <StatusMessage Message="@Message" />
        <h2>@Localizer["Change your password"]</h2>
        <EditForm Model="Input" method="post" OnValidSubmit="UpdatePassword" FormName="register">
            <DataAnnotationsValidator />

            <FluentValidationSummary class="text-danger" role="alert" />
            <FluentStack Orientation="Orientation.Vertical" VerticalGap="0">
                <!-- Hidden fields -->
                <input type="hidden" @bind="Input.Id" />

                <PasswordField Id="password"
                               AutoComplete="old password"
                               Placeholder="old password"
                               Label="@Localizer["Current password"]"
                               Name="Input.Password"
                               @bind-Value="Input.Password"
                               StartIcon="@(new Size24.PersonPasskey())" 
                               Style="width: 100%; margin-bottom: 10px;" 
                                />
                <FluentValidationMessage For="() => Input.Password" class="text-danger" />

                <PasswordField Id="newpassword"
                               AutoComplete="new-password"
                               Placeholder="new password"
                               Name="Input.NewPassword"
                               Label="@Localizer["New password"]"
                               @bind-Value="Input.NewPassword"
                               StartIcon="@(new Size24.PersonPasskey())" 
                               Style="width: 100%; margin-bottom: 10px;" />
                <FluentValidationMessage For="() => Input.NewPassword" class="text-danger" />

                <FluentButton Type="ButtonType.Submit" Loading="@_waitingTime" Appearance="Appearance.Accent" Style="width: 100%; margin-bottom: 10px;">@Localizer["Change password"]</FluentButton>
            </FluentStack>
        </EditForm>
    </FluentGridItem>
</FluentGrid>