@using Blazr.RenderState
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular

@using Netlify.Components.Account.Shared
@using Netlify.SharedResources
@inject SharedLocalizer Localizer
@inject IToastService ToastService
<RenderStateViewer Parent="this" />
<FluentGrid>
    <FluentGridItem xs="8" sm="4">
        <StatusMessage Message="@Message" />
        <EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="UpdateUser" FormName="edit-profile">
            <DataAnnotationsValidator />
            <h2>@Localizer["Personal data"]</h2>
            <hr />
            <FluentValidationSummary class="text-danger" role="alert" />
            <!-- Hidden fields -->
            <input type="hidden" @bind="Input.Id" />

            <FluentStack Orientation="Orientation.Vertical" VerticalGap="0">
                <FluentTextField Id="nickname" Name="Input.Name" @bind-Value="Input.Name" Required="true" Placeholder="nickname" Label="@Localizer["First name"]" Style="width: 100%; margin-bottom: 10px;" />
                <FluentTextField Id="EMailprofile" ReadOnly="true" Name="Input.Email" @bind-Value="Input.Email" AutoComplete="email" Required="true" Placeholder="name@example.com" Label="@Localizer["Email"]" Style="width: 100%; margin-bottom: 10px;">
                    <FluentIcon Value="@(new Size24.MailEdit())" Slot="start" />
                </FluentTextField>
                <FluentValidationMessage For="() => Input.Email" class="text-danger" />


                <FluentButton Type="ButtonType.Submit" Loading="@_waitingTime" Appearance="Appearance.Accent" Style="width: 100%; margin-bottom: 10px;">@Localizer["Save"]</FluentButton>
            </FluentStack>
        </EditForm>
    </FluentGridItem>
</FluentGrid>