@page "/dashboard"

@* @implements IDisposable *@

@using Netlifly.Shared
@using Netlify.SharedResources
@using Netlify.Components.Account.Shared
@using Newtonsoft.Json

@inject SharedLocalizer Localizer
@* @inject IHeroService HeroService *@
@* @inject AuthenticationStateProvider AuthenticationStateProvider *@
@* 
<h3>Dashboard</h3>
 *@<div class="container mt-4">
    <div class="row mb-5">
        <div class="col-12">
            <h1 class="text-center mb-2">Top 5 public heroes</h1>
            <p class="text-center mb-3">
                These heroes are available to all users, and you can vote for them!
            </p>
            <div class="row">

                <StatusMessage Message="@Message" />

                @if (_user != null)
                {
                   @*  <p>Welcome, @_user.FirstName!</p> *@
                    @*  <HeroViewComponent HeroAsString="@(new Hero(null))" @rendermode="InteractiveServer" /> *@
                   
                        @* <InteractiveRenderMode rendermode="InteractiveServer"> *@
                        @foreach (var hero in _publicHeroes)
                        {
                            @*  <HeroViewComponent HeroAsString="hero" /> *@

                            string heroString = JsonConvert.SerializeObject(hero);
                            <HeroViewComponent HeroAsString="@heroString" AccessToken="@_accessToken" @rendermode="InteractiveServer" />
                        }
                        @*  </InteractiveRenderMode> *@
                   
                }
                else
                {
                    <p>Loading...</p>
                }
            </div>
        </div>
    </div>
</div>

@code {

    // private void CheckUserLanguage()
    // {
    //     if (user.Language != CultureInfo.CurrentCulture.Name)
    //     {
    //         var redirectUrl = user.Language != AppConfig.DefaultLang
    //             ? $"/{user.Language}/dashboard"
    //             : "/dashboard";
    //         JSRuntime.InvokeVoidAsync("location.replace", redirectUrl);
    //     }
    // }

}