@page "/auth/log-in"
@layout EmptyLayout

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity

@using Netlify.Client.Components
@using Netlify.Components.Layout
@using Netlify.Components.Account.Shared
@using Netlify.SharedResources

@* only need for Demo button, HttpContext is null, login doesn't work *@
@* @rendermode InteractiveServer *@

@* @inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger *@
@inject NavigationManager NavigationManager
@* @inject IdentityRedirectManager RedirectManager *@
@inject SharedLocalizer Localizer

<PageTitle>Log in</PageTitle>

<div class="d-flex bg-white rounded-10 padding-2">

    <FluentGrid>
        <FluentGridItem>
            <StatusMessage Message="@errorMessage" />
            <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
                <DataAnnotationsValidator />
                <h1>@Localizer["Log in"]</h1>
                <hr />
                <h1>@Localizer["¡Welcome back!"]</h1>
                <hr />
                <CultureSelector @rendermode="InteractiveAuto" AdditionalStyle="margin-bottom: 15px;"/>
                <FluentValidationSummary class="text-danger" role="alert" />

                <FluentTextField Id="EMail" Name="Input.EMail" @bind-Value="Input.EMail" AutoComplete="email" Required="true" Placeholder="@Localizer["E-Mail"]" Label="@Localizer["E-Mail"]" Style="width: 100%; margin-bottom: 10px;">
                    <FluentIcon Value="@(new Icons.Regular.Size24.MailEdit())" Slot="start" />
                </FluentTextField>
                <FluentValidationMessage For="() => Input.EMail" class="text-danger" />
                <PasswordField Id="Password" Name="Input.Password" @bind-Value="Input.Password" StartIcon="@(new Icons.Regular.Size24.PersonPasskey())" AutoComplete="current-password" Placeholder="@Localizer["Password"]" Label="@Localizer["Password"]" Style="width: 100%; margin-bottom: 10px;" />

                <FluentValidationMessage For="() => Input.Password" class="text-danger" />
                <FluentStack Orientation="Orientation.Vertical">
                    <FluentCheckbox Name="Input.RememberMe" @bind-Value="Input.RememberMe" Label="@Localizer["Remember me"]" />

                    <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent" Style="width: 100%">@Localizer["Log in"]</FluentButton>
                    <div>

                        <p>
                            <FluentAnchor Appearance="Appearance.Hypertext" Href="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">@Localizer["Register as a new user"]</FluentAnchor>
                        </p>

                        <p>
                            <FluentAnchor Appearance="Appearance.Hypertext" Href="@(NavigationManager.GetUriWithQueryParameters("auth/log-in", new Dictionary<string, object?> { ["IsDemoLogin"] = true }))">@Localizer["Demo login"]</FluentAnchor>
                        </p>
                    </div>
                </FluentStack>
            </EditForm>

        </FluentGridItem>

    </FluentGrid>

</div>


