@page "/auth/register"
@layout EmptyLayout


@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular
@using Netlify.Components.Layout
@using Netlify.Components.Account.Shared
@using Netlify.SharedResources

@code {
    public const string PasswordRegexPattern = @"^(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9]+$";
}


@* @inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
 *@
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject SharedLocalizer Localizer

<PageTitle>Register</PageTitle>

@* <h1>Register</h1> *@

<div class="d-flex bg-white rounded-10 padding-2">
    <FluentGrid>
        <FluentGridItem>
            <StatusMessage Message="@Message" />
            <EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="RegisterUser" FormName="register">
                <DataAnnotationsValidator />
                <h2>@Localizer["¡Register, and create your first hero!"]</h2>
                <hr />
                <FluentValidationSummary class="text-danger" role="alert" />
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="0">
                    <FluentTextField Name="Input.Name" @bind-Value="Input.Name" Required="true" Placeholder="nickname" Label="Nickname" Style="width: 100%; margin-bottom: 10px;" />
                    <FluentTextField Name="Input.Email" @bind-Value="Input.Email" AutoComplete="email" Required="true" Placeholder="name@example.com" Label="Email" Style="width: 100%; margin-bottom: 10px;">
                        <FluentIcon Value="@(new Size24.MailEdit())" Slot="start" />
                    </FluentTextField>
                    <FluentValidationMessage For="() => Input.Email" class="text-danger" />
                    
                    <PasswordField Label="Password" Name="Input.Password" Placeholder="password" AutoComplete="new-password" StartIcon="@(new Size24.PersonPasskey())" Style="width: 100%; margin-bottom: 10px;" @bind-Value="Input.Password" />
                    <FluentValidationMessage For="() => Input.Password" class="text-danger" />

                    <PasswordField Id="confirmpassword" Name="Input.ConfirmPassword" @bind-Value="Input.ConfirmPassword" AutoComplete="new-password" Placeholder="password" Label="Confirm Password" StartIcon="@(new Size24.PersonPasskey())" Style="width: 100%; margin-bottom: 10px;" />
                    <FluentValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
                    
                    <FluentCheckbox Name="Input.Accept" @bind-Value="Input.Accept" Label="@Localizer["I've read and accept the terms and conditions and the privacy policy"]" Style="width: 100%; margin-bottom: 10px;" />
                    <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent" Style="width: 100%; margin-bottom: 10px;">@Localizer["Register"]</FluentButton>
                </FluentStack>
            </EditForm>
        </FluentGridItem>
    </FluentGrid>
</div>