@using System.Globalization
@using Netlify.SharedResources
@inject IJSRuntime JS
@inject NavigationManager Navigation

<div style="display: flex;justify-content: center; align-items: center; @AdditionalStyle">
    @Label <FluentIcon Value="@(new Icons.Regular.Size24.GlobeLocation())" Color="@IconColor" Style="margin-top: 0px"/>
    <select id="lang-select" @bind="@selectedCulture" @bind:after="ApplySelectedCultureAsync">
        @foreach (var culture in supportedCultures)
        {
            <option value="@culture">@cultureDict[culture.Name]</option>
        }
    </select>

</div>

@code
{
    [Parameter]
    public string? Label { get; set; }
    
    [Parameter]
    public Color? IconColor { get; set; }

    [Parameter]
    public string? AdditionalStyle { get; set; }

    private Dictionary<string, string> cultureDict = SharedLocalizerHelper.GetCulturesDescription();
    
    private CultureInfo[] supportedCultures = SharedLocalizerHelper.GetSupportedCultures();

    private CultureInfo? selectedCulture;

    protected override void OnInitialized()
    {
        selectedCulture = CultureInfo.CurrentCulture;
    }

    private async Task ApplySelectedCultureAsync()
    {
        if (CultureInfo.CurrentCulture != selectedCulture)
        {
            await JS.InvokeVoidAsync("blazorCulture.set", selectedCulture!.Name);

            var uri = new Uri(Navigation.Uri)
                .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
            var cultureEscaped = Uri.EscapeDataString(selectedCulture.Name);
            var uriEscaped = Uri.EscapeDataString(uri);

            Navigation.NavigateTo(
                $"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}",
                forceLoad: true);
        }
    }

    /// <summary>
    /// For client side only without controller
    /// </summary>
    /// <returns></returns>
    // private async Task ApplySelectedCultureAsync()
    // {
    //     if (CultureInfo.CurrentCulture != selectedCulture)
    //     {
    //         await JS.InvokeVoidAsync("blazorCulture.set", selectedCulture!.Name);

    //         Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
    //     }
    // }
}